.layout {
    position: relative;
    height: 100vh;
}

.layout-logo {
    position: relative;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 24px 10px;
    color: #fff;
    font-size: 22px;
    overflow: hidden;
    background: #333;
}

.rheader {
    background: #fff;
    padding: 0;
    text-align: center;
}

.rfooter {
    text-align: center;
}

.renderContacts {
    margin-top: 20px;
}
